---
import { open_source_contribution } from "~/config/open_source_contribution";

import { Card, CardDescription, CardLink } from "~/components/ui/card";
import { GitPullRequestIcon } from "~/components/icons/git-pull-request-icon";
---

<div class="mt-24 sm:mt-32">
    <h2 class="text-2xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100">
        Open Source Works
    </h2>
    <p class="mt-4 text-zinc-600 dark:text-zinc-400">
        Projects I've contributed to in the open source community.
    </p>
    <ul role="list" class="mt-8 grid grid-cols-1 gap-x-12 gap-y-8 sm:grid-cols-2 lg:grid-cols-3">
        {
            open_source_contribution.map((contribution) => (
                <Card as="li" className="space-y-0">
                    <h3 class="text-base font-semibold text-zinc-800 dark:text-zinc-100">
                        <CardLink href={contribution.link} target="_blank">
                            {contribution.name}
                        </CardLink>
                    </h3>
                    <CardDescription>{contribution.description}</CardDescription>
                    <p class="relative z-10 mt-1 flex items-center text-sm font-medium text-zinc-400 transition group-hover:text-teal-500 dark:text-zinc-200">
                        <GitPullRequestIcon className="h-5 w-5 flex-none" />
                        <span class="ml-2">Pull Request</span>
                    </p>
                </Card>
            ))
        }
    </ul>
</div>
