---
import type { TProject } from "~/config/projects";

import Project from "./project.astro";

interface Props {
    class?: string;
    name: string;
    description: string;
    projects: TProject[];
}

const { class: className, name, description, projects } = Astro.props;
---

<section class={className}>
    <h2 class="mb-4 text-2xl font-extrabold text-black">{name}</h2>

    <p class="space-y-6 text-lg leading-normal">
        {description}
    </p>

    <div class="mt-10 space-y-10">
        {projects.map((project) => <Project project={project} />)}
    </div>
</section>
