---
import Box from "@/components/ui/box-index.astro";
import BoxHeader from "@/components/ui/box-header.astro";
import BoxTitle from "@/components/ui/box-title.astro";
import BoxContent from "@/components/ui/box-content.astro";
---

<Box>
    <BoxHeader>
        <BoxTitle> About </BoxTitle>
    </BoxHeader>
    <BoxContent>
        <div class="text-sm leading-7 font-medium">
            I am a <b>software engineer</b> with <b>4 years</b> of experience, passionate about building and scaling high-quality
            software solutions. With expertise in <b>full-stack</b> development, I deliver software quickly with clean, maintainable
            code patterns. Always <b>learning</b>, always <b>iterating</b>, always pushing boundaries.
        </div>
    </BoxContent>
</Box>
