---
import { SummaryParagraph } from "~/config/summary";

import Paragraph from "./paragraph.astro";
import Heading from "~/components/elements/heading.astro";
---

<div class="space-y-6">
    <Heading>Software Engineer</Heading>
    <Paragraph>
        <SummaryParagraph />
    </Paragraph>
    <Paragraph>
        Interested in Transforming Your ideas into impactful software solutions. I am open for work.
        Lets build together.
    </Paragraph>
</div>
