---
import { SummaryParagraph } from "~/lib/summary";

import Paragraph from "./paragraph.astro";
import Heading from "~/components/elements/heading.astro";
---

<div class="space-y-8">
    <Heading>Full-stack Developer</Heading>
    <SummaryParagraph seperated={true} />
    <Paragraph>
        Interested in Transforming Your ideas into impactful software solutions. I am open for work. Lets build
        together.
    </Paragraph>
</div>
