---
import { E } from "@/components/ui/e";
import { R } from "@/components/ui/r";

import Box from "@/components/ui/box-index.astro";
import BoxHeader from "@/components/ui/box-header.astro";
import BoxTitle from "@/components/ui/box-title.astro";
import BoxContent from "@/components/ui/box-content.astro";
---

<Box>
    <BoxHeader>
        <BoxTitle>Programming / Problem Solving</BoxTitle>
    </BoxHeader>
    <BoxContent>
        <div class="text-sm leading-7 font-medium">
            I started programming after <b>10th grade</b> with <b>C</b>. Then I began solving problems on online judges
            such as
            <E label="Codeforces" href="https://codeforces.com/" />,
            <E label="LightOJ" href="https://lightoj.com/" />,
            <E label="LeetCode" href="https://leetcode.com" />,
            <E label="HackerRank" href="https://www.hackerrank.com/" />
            etc regularly. During that time, I solved over <b>1000+ unique problems</b> across various platforms. You can
            find the code for those problems solution on below link
            <br />
            <R label="Problem Library" href="https://github.com/mt-shihab26/problem_library" />
            <br />
            <br />
            Along with <b>problem-solving</b>, I studied <b>data structures</b> and
            <b>algorithms</b>, and applied that knowledge to solve problems. You can find my implementations of data
            structures and algorithms on below link
            <br />
            <R label="DSA Library" href="https://github.com/mt-shihab26/dsa_library" />
            <br />
            <br />
            I also regularly read <i>programming-related books</i>. Here you can find the
            <b>source code</b>, <b>practice exercises</b>, and <b>notes</b> from those books as markdown files on below link
            <br />
            <R label="Books Library" href="https://github.com/mt-shihab26/books" />.
        </div>
    </BoxContent>
</Box>
