---
import { email } from "@/lib/information";
---

<div
    class="screen-line-after inline-flex w-full items-center gap-2 border-x bg-yellow-100 px-3 py-2 text-sm font-semibold dark:bg-yellow-500/10"
>
    <span class="animate-bounce text-base">👋</span> I'm open to new opportunities —
    <a href={`mailto:${email}`} class="underline underline-offset-4"> get in touch </a>
</div>
