---
import "~/styles/global.css";

import Head, { type THead } from "./head.astro";
import Header from "./header.astro";

type Props = THead;

const { title, description, keywords } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
    <Head title={title} description={description} keywords={keywords} />
    <body class="font-sans leading-tight text-black antialiased">
        <div id="app" class="px-6 py-8 md:px-16 lg:px-24 lg:py-16">
            <Header />
            <div class="mt-12 lg:pl-32">
                <slot />
            </div>
        </div>
    </body>
</html>
