---
import { getArticles } from "~/lib/articles";
import { time } from "~/lib/time";
import { meta } from "~/lib/meta";

import { Container } from "~/components/ui/container";

import Back from "~/components/elements/back";
import SiteLayout from "~/components/layouts/site-layout/index.astro";

export async function getStaticPaths() {
    const articles = await getArticles();

    return articles.map((article) => ({
        params: { slug: article.slug },
        props: { article }
    }));
}

const { article } = Astro.props;

const { Content } = await article.render();
---

<SiteLayout
    title="Archives - Shihab Mahamud"
    description="Explore the archives of Shihab Mahamud's articles, showcasing a collection of insights and knowledge shared over time."
>
    <Container className="mt-16 lg:mt-32">
        <div class="xl:relative">
            <div class="mx-auto max-w-2xl">
                <Back client:load />
                <article>
                    <header class="flex flex-col space-y-6">
                        <div class="flex items-center justify-between">
                            <time
                                datetime={article.data.date.toISOString()}
                                class="flex items-center text-base text-zinc-400 dark:text-zinc-500"
                            >
                                <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span>
                                <span class="ml-3">{time.formatToLongDate(article.data.date)}</span>
                            </time>
                            {
                                article.data.dev_to && (
                                    <div class="flex items-center text-base text-zinc-400 dark:text-zinc-500">
                                        also published at{" "}
                                        <a
                                            target="_blank"
                                            href={meta.dev_to + article.data.dev_to}
                                            class="ml-2 underline"
                                        >
                                            dev.to
                                        </a>
                                    </div>
                                )
                            }
                        </div>
                        <h1 class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100">
                            {article.data.title}
                        </h1>
                        <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                            {article.data.description}
                        </p>
                    </header>
                    <div
                        class="dark:prose-hr:border-zinc-800 prose prose-lg dark:prose-invert mt-8 max-w-none pt-6 text-xl"
                    >
                        <Content />
                    </div>
                </article>
            </div>
        </div>
    </Container>
</SiteLayout>
