---
import { time } from "~/lib/time";

import { Container } from "~/components/ui/container";
import { Back } from "~/components/screens/article/back";
import { Prose } from "~/components/screens/article/prose";
---

<Container class="mt-16 lg:mt-32">
    <div class="xl:relative">
        <div class="mx-auto max-w-2xl">
            <Back />
            <article>
                <header class="flex flex-col">
                    <h1
                        class="mt-6 text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100"
                    >
                        {meta.title}
                    </h1>
                    <time
                        date-time={meta.date}
                        class="order-first flex items-center text-base text-zinc-500 dark:text-zinc-200"
                    >
                        <span class="h-4 w-0.5 rounded-full bg-zinc-500 dark:bg-zinc-200"></span>
                        <span class="ml-3">{time.formatToLongDate(meta.date)}</span>
                    </time>
                </header>
                <Prose class="mt-8">{children}</Prose>
            </article>
        </div>
    </div>
</Container>
