---
import { getArticles } from "~/lib/articles";
import { formatDate } from "~/lib/utils";

import SiteLayout from "~/components/layouts/site-layout/index.astro";

const articles = await getArticles();
---

<SiteLayout
    title="Archives - Shihab Mahamud"
    description="Explore the archives of Shihab Mahamud's articles, showcasing a collection of insights and knowledge shared over time."
>
    <h1 class="mb-4 text-2xl font-extrabold text-black">Archives</h1>
    <p class="space-y-6 text-lg leading-normal">
        Everything I've ever published on my site, in reverse chronological order.
    </p>
    <ul class="mt-8 space-y-6">
        {
            articles.map((article) => (
                <li>
                    <span class="mb-1 block text-xs font-semibold tracking-wide uppercase">
                        {formatDate(article.data.date)}
                    </span>
                    <a class="font-bold text-black no-underline hover:underline" href={`/articles/${article.slug}`}>
                        {article.data.title}
                    </a>
                </li>
            ))
        }
    </ul>
</SiteLayout>
