---
import SiteLayout from "~/components/layouts/site-layout/index.astro";
---

<SiteLayout
    title="Shihab Mahamud - Full-stack developer"
    description="Software developer from bangladesh. I mainly work with Laravel, React & WordPress."
>
    <h1 class="mb-4 text-2xl font-extrabold text-black">Archives</h1>
    <div class="text-grey-darkest spaced-y-6 text-lg leading-normal">
        <p>Everything I've ever published on my site, in reverse chronological order.</p>
    </div>

    <ul class="list-reset spaced-y-6 mt-8">
        <li>
            <span class="text-grey-dark mb-1 block text-xs font-semibold tracking-wide uppercase"
                >September 18, 2020</span
            >
            <a
                class="font-bold text-black no-underline hover:underline"
                href="/composing-the-uncomposable-with-css-variables"
            >
                Composing the Uncomposable with CSS Variables
            </a>
        </li>
    </ul>
</SiteLayout>
