---
import External from "./external.astro";
---

<div class="prose dark:prose-invert mt-6 space-y-7 text-lg text-zinc-600 dark:text-zinc-400">
    <p>
        After high school, I began programming with <b>C</b>, inspired by Tamim Shahriar Subeen's
        <External href="http://cpbook.subeen.com">Computer Programming Book</External>. I honed my
        skills by solving
        <External href="https://github.com/p-nerd/online_judges">1100+ problems</External>
        on competitive programming platforms using
        <i>C/C++</i>, gaining a strong foundation in
        <External href="https://github.com/p-nerd/dsa_library">
            Data Structures and Algorithms
        </External>.
    </p>
    <p>
        Later, I transitioned to web development, starting with <i>Node.js</i> and
        <i>React</i>, and now specialize in <i>Laravel</i> and <i>React</i> for building dynamic full-stack
        applications. I also have experience in
        <i>WordPress plugin development</i> and have worked contractually with
        <External href="https://finnext.co">Finnext</External>
        on several notable projects.
    </p>
    <p>
        My technical journey has led me to develop expertise in modern web technologies including
        <i>TypeScript</i>, <i>PHP</i>, <i>Laravel</i>, <i>React</i>, <i>WordPress</i>,{" "}
        <i>TailwindCSS</i>. I've built several full-stack applications. I'm particularly proud of
        building
        <External href="https://paystubhero.com">paystubhero.com</External> saas application and working
        with them over mid 2023 to tell now As Finnext.
    </p>
    <p>
        As a developer, I believe in writing clean, maintainable code and following best practices
        of Laravel Community. I'm experienced with modern development workflows using <i>Git</i>,
        <i>Linux</i>, <i>Tmux</i>,
        <i>Neovim</i>. I enjoy mentoring junior developers and contributing to open-source projects
        whenever possible.
    </p>
    <p>
        My goal is to join a forward-thinking team where I can contribute to meaningful projects
        while continuing to grow as a developer. I'm particularly interested in opportunities that
        involve
        <i>real world application that will make people & developer life little bit easier.</i>
    </p>
</div>
