---
import { shihab_2 } from "~/lib/assets";
---

<div class="lg:pl-20">
    <div class="max-w-xs px-2.5 lg:max-w-none">
        <img
            src={shihab_2.src}
            alt=""
            sizes="(min-width: 1024px) 32rem, 20rem"
            class="aspect-square rotate-3 rounded-2xl bg-zinc-100 object-cover dark:bg-zinc-800"
        />
    </div>
</div>
