---
import { social_links } from "~/lib/social_links";
import { meta } from "~/lib/meta";

import { Mail2Icon } from "~/components/icons/mail2-icon";
---

<div class="lg:pl-20">
    <ul role="list" class="space-y-4">
        {
            social_links.map((l) => {
                const Icon = l.icon;
                return (
                    <li class="flex">
                        <a
                            href={l.href}
                            target="_blank"
                            class="group flex text-sm font-medium text-zinc-800 transition hover:text-teal-500 dark:text-zinc-200 dark:hover:text-teal-500"
                        >
                            <Icon className="h-6 w-6 flex-none fill-zinc-500 transition group-hover:fill-teal-500" />
                            <span class="ml-4">{l.label}</span>
                        </a>
                    </li>
                );
            })
        }
        <li class="mt-8 flex border-t border-zinc-100 pt-8 dark:border-zinc-700/40">
            <a
                href={`mailto:${meta.email}`}
                target="_blank"
                class="group flex text-sm font-medium text-zinc-800 transition hover:text-teal-500 dark:text-zinc-200 dark:hover:text-teal-500"
            >
                <Mail2Icon className="h-6 w-6 flex-none fill-zinc-500 transition group-hover:fill-teal-500" />
                <span class="ml-4">{meta.email}</span>
            </a>
        </li>
    </ul>
</div>
