---
import "~/styles/global.css";

import { ClientRouter } from "astro:transitions";

import { Header } from "~/components/screens/layout/header";
import { Footer } from "~/components/screens/layout/footer";
---

<!doctype html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Shihab Mahamud</title>
        <ClientRouter />
    </head>
    <body class="h-full w-full bg-zinc-50 dark:bg-black">
        <div class="fixed inset-0 flex justify-center sm:px-8">
            <div class="flex w-full max-w-7xl lg:px-8">
                <div
                    class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"
                >
                </div>
            </div>
        </div>
        <div class="relative">
            <Header pathname={Astro.url?.pathname} />
            <main><slot /></main>
            <Footer />
        </div>
    </body>
</html>
