---
import type { THead } from "~/types/utils";

import BaseLayout from "~/components/layouts/base-layout/index.astro";
import Header from "./header.astro";
import Footer from "./footer.astro";
import Back from "./back.astro";

type Props = THead & {
    date: Date | string;
};

const { title, description, keywords, date } = Astro.props as Props;
---

<BaseLayout title={title} description={description} keywords={keywords}>
    <div class="relative mx-auto max-w-3xl space-y-10 px-4 py-14 sm:px-6 lg:px-8">
        <Back />
        <Header date={date} />
        <main class="space-y-6">
            <slot />
        </main>
        <Footer />
        <Back />
    </div>
</BaseLayout>
