---
import Section from '@/components/Section.astro';
import Card from '@/components/Card.astro';
---

<Section title="Certifications">
	<Card
		as="a"
		heading="Lorem ipsum, dolor sit amet consectetur adipisicing."
		subheading="Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dicta magni consequuntur corrupti."
		date="Mar 2024 - Mar 2024"
		imagePath="/src/assets/portrait.jpg"
		altText="Lorem, ipsum dolor sit"
		imageClass="h-11 w-auto md:-left-16"
		href="https://www.google.com"
	/>
	<Card
		as="a"
		heading="Lorem ipsum, dolor sit amet"
		subheading="Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dicta."
		date="Mar 2029 - Mar 2032"
		imagePath="/src/assets/portrait.jpg"
		altText="Lorem, ipsum dolor sit"
		imageClass="h-11 w-auto md:-left-16"
		href="https://www.google.com"
	/>
</Section>
