---
import Section from '@/components/Section.astro';
import PostPreview from '@/components/blog/PostPreview.astro';

import { getAllPosts, sortMDByDate } from '@/utils';

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

{
	allPostsByDate.length > 0 && (
		<Section title="Posts">
			<ul class="flex flex-col gap-y-2">
				{allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))}
			</ul>
		</Section>
	)
}
