---
import Section from '@/components/Section.astro';
import SkillLayout from '@/components/SkillLayout.astro';

const languages = ['lorem', 'ipsum'];
const frontend = ['lorem', 'ipsum', 'lorem', 'ipsum', 'lorem', 'ipsum', 'lorem'];
const backend = ['lorem', 'ipsum', 'lorem', 'ipsum'];
const others = ['lorem', 'ipsum', 'lorem', 'ipsum', 'lorem'];
---

<Section title="Skills">
	<SkillLayout title="Languages" skills={languages} />
	<SkillLayout title="Frontend" skills={frontend} />
	<SkillLayout title="Backend" skills={backend} />
	<SkillLayout title="Others" skills={others} />
</Section>
