---
import { meta } from "~/lib/meta";

import Layout from "~/components/layouts/Layout.astro";
---

<Layout name="About" pathname="/about" description={meta.description}>
    <div>Hello</div>
</Layout>
