---
import { Container } from "~/components/ui/container";

import Layout from "~/components/layouts/layout/index.astro";
import Heading from "~/components/elements/heading.astro";

import WorkExperience from "~/components/screens/experience/work-experience.astro";
import Certifications from "~/components/screens/experience/certifications.astro";
import Skills from "~/components/screens/experience/skills.astro";
import Education from "~/components/screens/experience/education.astro";

const headline = "Professional Experience";
---

<Layout name="Experience" pathname="/experience" description={headline}>
    <Container className="mt-16 sm:mt-32">
        <header class="max-w-2xl">
            <Heading>
                {headline}
            </Heading>
            <p class="mt-6 text-lg text-zinc-600 dark:text-zinc-400">
                I've worked with various companies, building software solutions and gaining valuable
                experience in full-stack development.
            </p>
        </header>
        <div class="mt-16 space-y-20">
            <WorkExperience />
            <Skills />
            <Education />
            <Certifications />
        </div>
    </Container>
</Layout>
