---
import PageLayout from '@/layouts/BaseLayout.astro';

import Intro from '@/screens/index/Intro.astro';
import About from '@/screens/index/About.astro';
import Posts from '@/screens/index/Posts.astro';
import Experience from '@/screens/index/Experience.astro';
import Eduction from '@/screens/index/Education.astro';
import Projects from '@/screens/index/Projects.astro';
import Certifications from '@/screens/index/Certifications.astro';
import Skills from '@/screens/index/Skills.astro';
import ContactEmail from '@/components/ContactEmail.astro';
---

<PageLayout meta={{ title: "Shihab Mahamud's Portfolio" }}>
	<div class="mb-16 flex w-full flex-col gap-y-10">
		<Intro />
		<About />
		<Posts />
		<Experience />
		<Eduction />
		<Projects />
		<Certifications />
		<Skills />
	</div>
	<ContactEmail />
</PageLayout>
