---
import { meta } from "~/lib/meta";
import { getFeaturedArticles } from "~/lib/articles";

import { Container } from "~/components/ui/container";
import { Photos } from "~/components/screens/home/photos";
import { Newsletter } from "~/components/screens/home/news-letter";
import { WorkPlaces } from "~/components/screens/home/work-places";
import { Articles } from "~/components/screens/home/articles";
import { SocialLinks } from "~/components/screens/home/social-links";

import Bio from "~/components/screens/home/bio.astro";
import Layout from "~/components/layouts/Layout.astro";

const articles = await getFeaturedArticles();
---

<Layout name="" pathname="" description={meta.description}>
    <Container class="mt-9">
        <div class="max-w-2xl text-lg">
            <Bio />
            <SocialLinks />
        </div>
    </Container>
    <Photos />
    <Container class="mt-24 md:mt-28">
        <div class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
            <Articles articles={articles} />
            <div class="space-y-10 lg:pl-16 xl:pl-24">
                <Newsletter />
                <WorkPlaces />
            </div>
        </div>
    </Container>
</Layout>
