---
import Pattern from "@/components/ui/pattern.astro";

import Layout from "@/components/layouts/site/layout.astro";
import Footer from "@/components/layouts/site/footer.astro";
import Header from "@/components/layouts/site/header.astro";

import Profile from "@/components/screens/home/profile.astro";
import About from "@/components/screens/home/about.astro";
import ProblemSolving from "@/components/screens/home/problem-solving.astro";
import Development from "@/components/screens/home/development.astro";
import Experience from "@/components/screens/home/experience.astro";
import Education from "@/components/screens/home/education.astro";
---

<Layout>
    <Header />
    <main
        aria-label="Main content"
        class="mx-auto min-h-[calc(100vh-120px)] max-w-3xl"
    >
        <Pattern className="h-14" />
        <Profile />
        <Pattern />
        <About />
        <Pattern />
        <ProblemSolving />
        <Pattern />
        <Development />
        <Pattern />
        <Experience />
        <Pattern />
        <Education />
        <Pattern />
    </main>
    <Footer />
</Layout>
