---
import { meta } from "~/lib/meta";

// import { For } from "solid-js";
import { Container } from "~/components/ui/container";
import { Photos } from "~/components/screens/home/photos";
import { Newsletter } from "~/components/screens/home/news-letter";
import { WorkPlaces } from "~/components/screens/home/work-places";
// import { Article } from "~/components/screens/home/article";
import { SocialLinks } from "~/components/screens/home/social-links";

import Layout from "~/components/layouts/Layout.astro";
---

<Layout name="" pathname="" description={meta.description}>
    <Container class="mt-9">
        <div class="max-w-2xl text-lg">
            <h1
                class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100"
            >
                Software engineer, full-stack developer, laravel developer
            </h1>
            <p class="prose dark:prose-invert mt-6">
                I’m Shihab, and I am a full stack Laravel Developer. I build frontend with React. I
                also work on wordpress plugin development sometime.
            </p>
            <p class="prose dark:prose-invert mt-6">
                I work mainly with Finnext as Software Developer. I handle development of
                applications, plugins development to deployment. Then ongoing maintainance bug fixes
                and work on new features.
            </p>
            <p class="prose dark:prose-invert mt-6">
                Interested in Transforming Your ideas into impactful software solutions. I am open
                for work. Let build together.
            </p>
            <SocialLinks />
        </div>
    </Container>
    <Photos />
    <Container class="mt-24 md:mt-28">
        <div class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
            <div class="flex flex-col gap-16">
                <!-- <For each={[]}>{(article) => <Article article={article} />}</For> -->
            </div>
            <div class="space-y-10 lg:pl-16 xl:pl-24">
                <Newsletter />
                <WorkPlaces />
            </div>
        </div>
    </Container>
</Layout>
