---
import { meta } from "~/lib/meta";
import { getFeaturedArticles } from "~/lib/articles";

import { Container } from "~/components/ui/container";

import Bio from "~/components/screens/home/bio.astro";
import SocialLinks from "~/components/screens/home/social-links.astro";
import Photos from "~/components/screens/home/photos.astro";
import Articles from "~/components/screens/home/articles.astro";
import Experience from "~/components/screens/home/experience.astro";

import Layout from "~/components/layouts/layout/index.astro";
import NewsLetter from "~/components/elements/news-letter.astro";

const articles = await getFeaturedArticles();
---

<Layout title={`${meta.name} - Passionate Software Developer`}>
    <Container class="mt-9">
        <div class="max-w-2xl text-lg">
            <Bio />
            <SocialLinks />
        </div>
    </Container>
    <Photos />
    <Container class="mt-24 md:mt-28">
        <div class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
            <Articles articles={articles} />
            <div class="space-y-10 lg:pl-16 xl:pl-24">
                <NewsLetter />
                <Experience />
            </div>
        </div>
    </Container>
</Layout>
