---
import "~/styles/global.css";

import BaseLayout from "~/components/layouts/base-layout/index.astro";
import Back from "~/components/elements/back.astro";

import type { TProject } from "~/resume/components/open-source";

import { getResumeProjects } from "~/lib/projects";

import { Resume as ResumeComponent } from "~/resume/components";
import { DownloadButton } from "~/components/screens/resume/download-button";

const projects: TProject[] = (await getResumeProjects()).map(
    (p) =>
        ({
            name: p.data.name,
            technologies: p.data.technologies,
            description: p.data.description,
            slug: p.slug,
            link: p.data.link
        }) as TProject
);
---

<BaseLayout title="shihab-mahamud-resume.pdf" description="">
    <div class="mx-auto max-w-[956px] space-y-8 py-8">
        <div class="flex justify-between px-8">
            <Back />
            <DownloadButton />
        </div>
        <div class="border border-blue-600">
            <ResumeComponent projects={projects} />
        </div>
    </div>
</BaseLayout>
