---
import "~/styles/global.css";

import BaseLayout from "~/components/layouts/base-layout/index.astro";
import Back from "~/components/elements/back.astro";
import DownloadButton from "~/components/elements/download-button.astro";

import { Resume as ResumeComponent } from "~/components/screens/resume";
---

<BaseLayout title="shihab-mahamud-resume.pdf" description="">
    <div class="mx-auto max-w-[800px] space-y-8 py-10">
        <div class="flex justify-between px-8">
            <Back />
            <DownloadButton />
        </div>
        <div class="overflow-hidden rounded border border-blue-500">
            <ResumeComponent />
        </div>
    </div>
</BaseLayout>
