---
import "~/styles/global.css";

import BaseLayout from "~/components/layouts/base-layout/index.astro";
import Back from "~/components/elements/back.astro";

import { Resume as ResumeComponent } from "~/components/screens/resume";
import { DownloadButton } from "~/components/screens/resume/download-button";
---

<BaseLayout title="shihab-mahamud-resume.pdf" description="">
    <div class="mx-auto max-w-[956px] space-y-8 py-8">
        <div class="flex justify-between px-8">
            <Back />
            <DownloadButton />
        </div>
        <div class="border border-blue-600">
            <ResumeComponent />
        </div>
    </div>
</BaseLayout>
