---
import "~/styles/global.css";

import { Resume as ResumeComponent } from "~/components/screens/resume";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>shihab-mahamud-resume.pdf</title>
    </head>
    <body><ResumeComponent /></body>
</html>
