---
import Back from "@/components/ui/back.astro";
import DownloadButton from "@/components/ui/download-button.astro";

import SiteLayout from "@/components/layouts/site/layout.astro";
import ModeToggle from "@/components/layouts/site/mode-toggle.astro";

import { Resume as ResumeComponent } from "@/components/screens/resume";
---

<SiteLayout title="shihab-mahamud-resume.pdf" description="">
    <div class="mx-auto max-w-[8.3in] space-y-4 pt-4 pb-12">
        <div class="flex justify-between px-8">
            <Back />
            <div class="space-x-2">
                <DownloadButton />
                <ModeToggle />
            </div>
        </div>
        <div class="overflow-hidden border p-[.5in]">
            <ResumeComponent />
        </div>
    </div>
</SiteLayout>
