---
import Back from "@/components/ui/back.astro";
import DownloadButton from "@/components/ui/download-button.astro";

import SiteLayout from "@/components/layouts/site/layout.astro";
import ModeToggle from "@/components/layouts/site/mode-toggle.astro";

import { Resume as ResumeComponent } from "@/components/screens/resume";
---

<SiteLayout title="shihab-mahamud-resume.pdf" description="">
    <div class="mx-auto max-w-[800px] space-y-8 py-10">
        <div class="flex justify-between px-8">
            <Back />
            <div class="space-x-2">
                <DownloadButton />
                <ModeToggle />
            </div>
        </div>
        <div class="overflow-hidden rounded border border-blue-500">
            <ResumeComponent />
        </div>
    </div>
</SiteLayout>
