---
import "~/styles/global.css";

import type { TProject } from "~/resume/components/projects";

import { getResumeProjects } from "~/lib/projects";

import { Resume as ResumeComponent } from "~/resume/components";
import { BackButton } from "~/components/screens/resume/back-button";
import { DownloadButton } from "~/components/screens/resume/download-button";

const projects: TProject[] = (await getResumeProjects()).map(
    (p) =>
        ({
            name: p.data.name,
            technologies: p.data.technologies,
            description: p.data.description,
            slug: p.slug,
            link: p.data.link
        }) as TProject
);
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>shihab-mahamud-resume.pdf</title>
    </head>
    <body class="mx-auto max-w-[956px]">
        <div class="flex justify-between px-8 pt-8">
            <BackButton client:load />
            <DownloadButton />
        </div>
        <ResumeComponent projects={projects} />
    </body>
</html>
