---
import "~/styles/global.css";

import type { TProject } from "~/components/screens/resume/projects";

import { getResumeProjects } from "~/lib/projects";

import { Resume as ResumeComponent } from "~/components/screens/resume";

const projects: TProject[] = (await getResumeProjects()).map(
    (p) =>
        ({
            name: p.data.name,
            technologies: p.data.technologies,
            description: p.data.description,
            slug: p.slug,
            link: p.data.link
        }) as TProject
);
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>shihab-mahamud-resume.pdf</title>
    </head>
    <body class="mx-auto max-w-[928px]"><ResumeComponent projects={projects} /></body>
</html>
