---
const toolsUses = [
    {
        title: "Devices",
        items: [
            {
                name: "13-inch, MacBook Pro, M2, 8GB RAM (2022)",
                description:
                    "Coming from an Avita laptop running Ubuntu-based Linux, the M2 MacBook provides better performance, seamless macOS integration, excellent battery life, and superior build quality."
            }
        ]
    }
];

import SiteLayout from "~/components/layouts/site-layout/index.astro";
---

<SiteLayout
    title="Uses - Shihab Mahamud"
    description="Things I use to build software, stay productive, and procrastinate"
    class="max-w-2xl"
>
    <h1 class="mb-6 text-2xl font-extrabold text-black">Uses</h1>
    <p class="text-lg leading-normal">Things I use to build software, stay productive, and procrastinate.</p>
    <ul class="mt-12 space-y-10">
        {
            toolsUses.map((section) => (
                <li class="md:border-l md:border-zinc-100 md:dark:border-zinc-700/40">
                    <div class="grid max-w-3xl grid-cols-1 items-baseline gap-y-8 md:grid-cols-4">
                        <h2 class="text-sm font-semibold text-zinc-800 dark:text-zinc-100">{section.title}</h2>
                        <div class="md:col-span-3">
                            <ul role="list" class="space-y-16">
                                {section.items.map((item) => (
                                    <li class="group relative flex flex-col items-start">
                                        <h3 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                            {item.name}
                                        </h3>
                                        <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                                            {item.description}
                                        </p>
                                    </li>
                                ))}
                            </ul>
                        </div>
                    </div>
                </li>
            ))
        }
    </ul>
</SiteLayout>
