---
import { name } from "@/lib/information";

import ModeToggle from "./mode-toggle.astro";
import NavLinks from "./nav-links.astro";

interface Props {
    className?: string;
}

const { className } = Astro.props;
---

<nav
    class:list={[
        "screen-line-after sticky top-0 z-50 w-full bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60",
        className,
    ]}
>
    <div
        class="mx-auto flex max-w-3xl items-center justify-between px-4 py-1 md:border-x"
    >
        <a href="/">
            <h1 class="text-xl font-bold">{name}</h1>
        </a>

        <div class="flex items-center justify-center gap-4">
            <div class="hidden md:flex">
                <NavLinks />
            </div>
            <ModeToggle />
            <button
                id="hamburger-button"
                class="flex h-6 w-6 items-center justify-center md:hidden"
                aria-label="Toggle mobile menu"
            >
                <svg
                    id="menu-icon"
                    class="h-6 w-6"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
                <svg
                    id="close-icon"
                    class="hidden h-6 w-6"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>
    </div>
    <div
        id="mobile-menu"
        class="fixed inset-0 top-12 z-40 hidden h-screen bg-background/95 pb-12 backdrop-blur md:hidden"
    >
        <div class="flex h-full items-center justify-center">
            <NavLinks />
        </div>
    </div>
</nav>

<script>
    function toggleMobileMenu() {
        const mobileMenu = document.getElementById("mobile-menu");
        const menuIcon = document.getElementById("menu-icon");
        const closeIcon = document.getElementById("close-icon");

        if (mobileMenu && menuIcon && closeIcon) {
            mobileMenu.classList.toggle("hidden");

            // Toggle between menu and close icons
            menuIcon.classList.toggle("hidden");
            closeIcon.classList.toggle("hidden");
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        const hamburgerButton = document.getElementById("hamburger-button");
        if (hamburgerButton) {
            hamburgerButton.addEventListener("click", toggleMobileMenu);
        }

        // Close mobile menu when clicking on nav links
        const mobileMenu = document.getElementById("mobile-menu");
        if (mobileMenu) {
            mobileMenu.addEventListener("click", (e: any) => {
                if (e.target.tagName === "A") {
                    toggleMobileMenu();
                }
            });
        }
    });
</script>
