---
import { cn } from "@/lib/utils";

const links = [
    {
        label: "Home",
        href: "/",
    },
    {
        label: "Articles",
        href: "/articles",
    },
    {
        label: "Projects",
        href: "/projects",
    },
    {
        label: "Resume",
        href: "/resume",
    },
];

const pathname = Astro.url.pathname;

const currentPath = pathname.endsWith("/") && pathname !== "/" ? pathname.slice(0, -1) : pathname;

const isActive = (path: string) => {
    const currentPathArray = currentPath.split("/").filter(p => p.trim());
    const pathArray = path.split("/").filter(p => p.trim());

    return currentPath === path || currentPathArray[0] === pathArray[0];
};
---

<div class="flex flex-col items-center justify-center gap-6 md:flex-row md:gap-4">
    {
        links.map(link => (
            <a
                href={link.href}
                class={cn(
                    "group relative flex flex-col items-center justify-center text-2xl font-medium text-foreground/70 duration-150 hover:text-primary md:text-xs lg:text-sm"
                )}
            >
                <span class={cn("mb", isActive(link.href) && "text-primary")}>{link.label}</span>

                <span
                    class={cn(
                        "absolute -bottom-px h-[1px] rounded-full bg-primary transition-all duration-150",
                        isActive(link.href) ? "w-full" : "w-0",
                        "group-hover:w-full"
                    )}
                />
            </a>
        ))
    }
</div>
