---
import { cn } from '@/lib/utils';

export interface Props {
	href: string;
	class?: string;
	target?: '_blank';
}

const { class: className, href, target, ...props } = Astro.props as Props;
---

<a
	href={href}
	target={target}
	class={cn('underline underline-offset-2 font-semibold text-foreground', className)}
	{...props}
>
	<slot />
</a>
