---
import { cn } from '@/utils/tailwind';
const { as: Tag = 'a', class: className, href, style = 'button' } = Astro.props;
---

<Tag
	class={cn(
		'inline-flex items-center gap-x-1 rounded-lg bg-primary-foreground border border-border px-2 py-1 text-sm transition-all hover:bg-input',
		className,
		style === 'pill' && 'rounded-xl'
	)}
	href={href}
	data-astro-prefetch
>
	<slot name="icon-before" />
	<p><slot /></p>
	<slot name="icon-after" />
</Tag>
