---
import type { TSkill } from '@/types';

interface Props {
	skill: TSkill;
}

const {
	skill: { title, tools }
} = Astro.props as Props;
---

<div class="flex flex-col gap-y-2 md:flex-row md:gap-x-5 md:gap-y-0">
	<h3 class="w-1/5 font-medium">{title}</h3>
	<div class="flex w-4/5 flex-row flex-wrap gap-x-4 gap-y-2">
		{
			tools.map((skill) => (
				<span class="inline-flex items-center gap-x-1 rounded-xl border border-border bg-primary-foreground px-2 py-1 text-sm transition-all hover:bg-input">
					<p>{skill}</p>
				</span>
			))
		}
	</div>
</div>
