---
import { cn } from '@/utils/tailwind';

const { as: Tag = 'span', class: className, href, type, technologies } = Astro.props;
---

<div class="flex flex-row flex-wrap items-center gap-x-4 gap-y-2">
	{
		!!type && (
			<>
				<span
					class={cn(
						'inline-flex items-center gap-x-1 rounded-xl border border-border',
						'bg-secondary px-2 py-1 text-sm text-secondary-foreground transition-all hover:bg-primary-foreground',
						className
					)}
				>
					<p>{type}</p>
				</span>
			</>
		)
	}
	{
		technologies.map((technology: string) => (
			<>
				<Tag
					class={cn(
						'inline-flex items-center gap-x-1 rounded-xl bg-primary-foreground',
						'border border-border px-2 py-1 text-sm transition-all hover:bg-primary-foreground',
						className
					)}
					href={href}
					data-astro-prefetch
				>
					<p>{technology}</p>
				</Tag>
			</>
		))
	}
</div>
