---
export const prerender = true;

import Back from '@/components/Back.astro';
import PageLayout from '@/layouts/BaseLayout.astro';
import ContactEmail from '@/components/ContactEmail.astro';
import ProjectPreview from '@/components/ProjectPreview.astro';

import { allProjects } from 'src/utils/projects';

const projects = await allProjects();

const meta = {
	description: 'All projects',
	title: 'Projects'
};
---

<PageLayout meta={meta}>
	<div class="w-full">
		<Back href="/" />
		<div class="flex flex-col items-center">
			<h1 class="mb-6 mt-5 text-2xl font-bold">All Projects</h1>
			{projects.length === 0 && <p>No projects yet.</p>}
			{
				projects.length > 0 && (
					<div class="flex w-3/4 flex-col gap-x-8 gap-y-16">
						<section aria-label="Blog posts list">
							<ul class="flex flex-col gap-y-4 text-start">
								{projects.map((p) => (
									<ProjectPreview project={p} />
								))}
							</ul>
						</section>
					</div>
				)
			}
			<div class="mt-16">
				<ContactEmail />
			</div>
		</div>
	</div>
</PageLayout>
