---
import { DownloadIcon } from "~/components/icons/download-icon";
---

<a
    href="/shihab-mahamud-resume.pdf"
    download
    class="inline-flex cursor-pointer items-center gap-2 text-sm text-gray-500 transition-colors hover:text-black"
>
    <DownloadIcon className="h-4 w-4 stroke-current transition" />
    Download
</a>
