---
import { cn } from "~/lib/utils";

interface Props {
    class?: string;
}

const props = Astro.props as Props;
---

<h1
    class={cn(
        "text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100",
        props.class
    )}
>
    <slot />
</h1>
