---
import type { THead } from "~/types/utils";

import { ClientRouter } from "astro:transitions";

import SpeedInsights from "@vercel/speed-insights/astro";

type Props = THead;

const { title, description, keywords } = Astro.props as Props;
---

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    {keywords && keywords.length > 0 && <meta name="keywords" content={keywords.join(", ")} />}

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="alternate" type="application/rss+xml" title="developershihab.com RSS Feed" href="/rss.xml" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={Astro.site + Astro.originPathname != "/" ? Astro.originPathname : ""} />

    <title>{title}</title>

    <SpeedInsights />
    <ClientRouter />
</head>
