---
import "~/styles/global.css";

import type { THead } from "~/types/utils";

import Head from "./head.astro";

type Props = THead;

const { title, description, keywords } = Astro.props as Props;
---

<!doctype html>
<html lang="en" class="dark">
    <Head title={title} description={description} keywords={keywords} />
    <body
        class="bg-white font-sans leading-tight text-gray-700 antialiased selection:bg-red-600 selection:text-white dark:bg-black dark:text-gray-300"
    >
        <slot />
    </body>
</html>
