<button
    type="button"
    class="inline-flex cursor-pointer items-center gap-2 text-sm text-gray-500 transition-colors hover:text-black dark:text-gray-400 dark:hover:text-white"
    onclick="history.back()"
>
    <svg class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
        <path
            fill-rule="evenodd"
            d="M7.707 14.707a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414l5-5a1 1 0 111.414 1.414L4.414 9H18a1 1 0 110 2H4.414l3.293 3.293a1 1 0 010 1.414z"
            clip-rule="evenodd"></path>
    </svg>
    Back
</button>
