---
import { DownloadIcon } from "@/components/icons/download-icon";
---

<a
    href="/shihab-mahamud-resume.pdf"
    download
    class="inline-flex cursor-pointer items-center gap-2 text-sm transition-colors hover:text-accent-foreground"
>
    <DownloadIcon className="h-4 w-4 stroke-current transition" />
    Download
</a>
